.app {
  align-self: center;
  margin: auto;
  width: 10 * 40px;
  font-size: larger;
  font-stretch: expanded;
  font-family: monospace;
}

.game {
  display: inline-block;
}

.menu {
  display: inline-block;
}

.menuline {
  white-space: pre;
}

.board {
  white-space: pre;
}
